Source: raml2html-werk-theme
Section: web
Priority: optional
Maintainer: Konrad Mohrfeldt <mohrfeldt@silicann.com>
Build-Depends:
 nodejs,
 npm,
Standards-Version: 4.5.1

Package: doc-assets
Architecture: all
Description: Bulma and OpenColors based styles, fonts and scripts for use in documentation
